# archivos compilados #
#######################
libraries/*/*.so*
libraries/*.dll
lib/libvarious.so*
lib/libmaths.so*
lib/libcalc.so*
*.o
*.dll
*.exe
bin
build
cmake-build-debug
cmake-build-release
*.ui~

# archivos de carpeta #
#######################
.directory
Thumbs.db

# archivos de IDEs innecesarios #
#################################
./*.pro.user
./.qmake.stash
.vscode/ipch
.idea/workspace.xml
