# archivos compilados #
#######################
libs/*/*.so
libs/*/*.so.*
libs/*.dll
*.o
*.dll
*.exe
debug
main
calc
ui
calc-ui
bin

# archivos de carpeta #
#######################
.directory
Thumbs.db

# archivos de qt innecesarios #
###############################
./*.pro.user
./.qmake.stash
