# archivos compilados #
#######################
libraries/*/*.so*
libraries/*.dll
lib/libvarious.so*
lib/libmaths.so*
lib/libcalc.so*
*.o
*.dll
*.exe
debug
main
calc
ui
sscalc
SSCalc
bin
build
cmake-build-debug
cmake-build-release
src_old
*.ui~

# archivos de carpeta #
#######################
.directory
Thumbs.db

# archivos de IDEs innecesarios #
#################################
./*.pro.user
./.qmake.stash
.vscode/ipch
